body {
    margin: 0;
    background-color: #111;
    color: #fff;
    font-family: 'Arial';
    text-align: center;
  }
  
  #game canvas {
    display: block;
    margin: 0 auto;
  }
  
  #eventPopup button {
    padding: 10px;
    font-size: 1rem;
    margin: 5px;
    cursor: pointer;
  }
  